<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnergyBusterArray</key>
	<array>
		<dict>
			<key>Description</key>
			<string>By using a space heater instead of central heating, you won&apos;t waste money heating the entire house when you only need heat for a small room.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>372</integer>
			<key>Graphic URL</key>
			<string>http://farm5.static.flickr.com/4082/4894259319_3b37894a2f.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>388</integer>
			<key>Savings Per Month</key>
			<integer>139680</integer>
			<key>Setup Cost</key>
			<integer>2500</integer>
			<key>Setup Time</key>
			<integer>1800</integer>
			<key>Title</key>
			<string>Space Heater</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>By using a ceiling fan instead of air conditioning, you&apos;ll stay cool without burning money.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>372</integer>
			<key>Graphic URL</key>
			<string>http://farm5.static.flickr.com/4129/5046985063_b21751772a.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>51</integer>
			<key>Savings Per Month</key>
			<integer>18972</integer>
			<key>Setup Cost</key>
			<integer>100</integer>
			<key>Setup Time</key>
			<integer>14400</integer>
			<key>Title</key>
			<string>Ceiling Fan</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Simply by flicking the electric switch, you can conserve electricity -- and money.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>372</integer>
			<key>Graphic URL</key>
			<string>http://farm3.static.flickr.com/2079/2105091037_641e4c31b8.jpg</string>
			<key>Ongoing Time</key>
			<integer>10</integer>
			<key>Savings Per Event</key>
			<integer>7</integer>
			<key>Savings Per Month</key>
			<integer>2775</integer>
			<key>Setup Cost</key>
			<integer>0</integer>
			<key>Setup Time</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Turn Off Lights</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use a clothesline or drying rack to save heating costs while also helping clothes last longer.</string>
			<key>Event Name</key>
			<string>Load</string>
			<key>Events Per Month</key>
			<integer>33</integer>
			<key>Graphic URL</key>
			<string>http://farm1.static.flickr.com/168/420251929_22c92ade58.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>49</integer>
			<key>Savings Per Month</key>
			<integer>1617</integer>
			<key>Setup Cost</key>
			<integer>2000</integer>
			<key>Setup Time</key>
			<integer>3600</integer>
			<key>Title</key>
			<string>Hang Dry Laundry</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Inactive computer? Put both it and the monitor to sleep.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>372</integer>
			<key>Graphic URL</key>
			<string>http://farm1.static.flickr.com/136/368529017_9e1f64b189.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>2</integer>
			<key>Savings Per Month</key>
			<integer>840</integer>
			<key>Setup Cost</key>
			<integer>0</integer>
			<key>Setup Time</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Sleep Your Computer</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>CFLs are 5x more efficient than Incadescents. You can often get them for free.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>372</integer>
			<key>Graphic URL</key>
			<string>http://farm1.static.flickr.com/136/368529017_9e1f64b189.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>5</integer>
			<key>Savings Per Month</key>
			<integer>2072</integer>
			<key>Setup Cost</key>
			<integer>3200</integer>
			<key>Setup Time</key>
			<integer>3600</integer>
			<key>Title</key>
			<string>Use Compact Fluorescents</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>When doing laundry, use cold water. It&apos;s better for your clothes, too.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>33</integer>
			<key>Graphic URL</key>
			<string>http://farm4.static.flickr.com/3195/3059476212_a100cf7a55.jpg</string>
			<key>Ongoing Time</key>
			<integer>0</integer>
			<key>Savings Per Event</key>
			<integer>64</integer>
			<key>Savings Per Month</key>
			<integer>2112</integer>
			<key>Setup Cost</key>
			<integer>0</integer>
			<key>Setup Time</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Use Cold Water</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>You&apos;ll get an extra 5 miles per gallon if you drive at 55mph instead of 75mph.</string>
			<key>Event Name</key>
			<string>Hour</string>
			<key>Events Per Month</key>
			<integer>31</integer>
			<key>Graphic URL</key>
			<string>http://farm6.static.flickr.com/5263/5581417814_583516cca7.jpg</string>
			<key>Ongoing Time</key>
			<integer>62640</integer>
			<key>Savings Per Event</key>
			<integer>200</integer>
			<key>Savings Per Month</key>
			<integer>6200</integer>
			<key>Setup Cost</key>
			<integer>0</integer>
			<key>Setup Time</key>
			<integer>0</integer>
			<key>Title</key>
			<string>Drive Slower</string>
		</dict>
	</array>
</dict>
</plist>
